.newPostContainer,.mainContainer{
    width: 80%;
    margin: 0 auto;
    
}

#jumboText{
    margin: 0 auto;
    text-align: center;
}

/*Prevents Horizontal Scroll*/
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#postline{
    border-bottom: 1px solid white;
}
.modal-text{
    color: darkcyan;
}

.author-row input{
   width: 200px;
}
.author-col{
    margin-top: 25px;
}
#authorTitle{
    margin-bottom: 20px;
}
.req{
    color: lightcoral;
    font-style: italic;
}
#leavePostBtn{
    margin-top: 30px;
}

.jumbotron{
    height: 420px;
}

.pencil{
    margin-right: 5px;
}
.titleArrow{
    margin-right: 5px;
}
.postArrow{
    margin-right: 10px;
    margin-top: 5px;
}
#postId{
    border-bottom: 2px solid black;
}
#dateBorder{
    border-top: 2px solid black;
}
#captchaAns{
    width: 50px;
}
.center{
    margin: 0 auto;
    text-align: center;
}

#captcha{
    margin-top: 10px;
}

#InputCaptchaAns{
    width: 50px;
}

#capAns{
    margin-left: -30px;
}

#InputVerifyCode{
    width: 100px;
    margin-left: -20px;
}

.btnVerify{
    margin-top: 30px;
    margin-bottom: 30px;
}

#InputAuthor{
    margin-right: -100px;
}



/*Create Account page*/

.createAccountArea{
    margin-top: 30px;
    width: 60%;
    margin: 0 auto;
}
 .createAccountArea input, .createAccountArea input {
    width: 300px;
}

#addTwitterUsername{
    width: 270px;
}

#AddAccountGroup1{
    margin-bottom: 40px;
}

#AddAccountGroup2{
    padding-top: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}
#AddAccountGroup3{
    margin-top: 40px;
    margin-bottom: 40px;
}

.AddAccountButtons{
    margin-top: 40px;
    margin-left: 400px;
}
.AddAccountCloseBtn{
    margin-left: 10px;
}
.foot{
    margin-top: 200px;

}
.phone-Verify{
    margin-top: 60px;
}
.Link-twitter{
    margin-top: 30px;
    padding-top: 20px;
}
.recover{
    padding-top: 20px;
    margin: 0 auto;
    text-align: center;s
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.modal-footer{
    margin-top: 20px;

}

.CreateAccountBtn{
    margin-top: 20px;
}





